{% extends "AppCoder/padre.html" %}

{% load static %}

    {% block contenidoHead %}

        <h1 class="mb-1">Formulario de Estadio</h1>

    {% endblock %}

    {% block contenidoDinamico %}


        {% if miFormulario.errors %}

        <p>ERROOOOR</p>

        {% endif %}

        <form action="/AppCoder/estadioFormulario/" method="POST"> {% csrf_token %}

            <table>

                {{     miFormulario.as_table      }}

            </table>

            <input type="submit" value="Enviar">

        </form>

    {% endblock %}